{% extends 'agvoybase.html.twig' %}

{% block main %}


    <h1>Bienvenue sur INT Holidays !</h1>
    
    <img src="http://66.media.tumblr.com/tumblr_l7ceutBSpU1qb4gnro1_1280.jpg" style="width: 50%; height: 50%" >
{% endblock %} {# main #}