{% extends 'agvoybase.html.twig' %}

{% block main %}


    <h1>Bienvenue sur Tux Voyages !</h1>
    
    <img src="http://4everstatic.com/pictures/674xX/cartoons/digital-art/tux,-cartoon-penguin,-linux,-beach-124355.jpg" style="width: 50%; height: 50%" >
{% endblock %} {# main #}